
<div class="container-1parkshow">
<div class="container-2parkshow">

<h1>  <%= @natpark.fullName %> </h1>
  <p>Park Name: <%=@natpark.name%></p>
  <p>State: <%=@natpark.states%></p>
  <p>Short Description: <%= @natpark.description %></p>
  <p>Directions: <%= @natpark.directionsInfo %> </p>
  <p>General Weather Info: <%= @natpark.weatherInfo %> </p>
  <%= @natpark.latLong %>
  <button><a href= "<%= @natpark.url %>">Offical Park Website</a></button>


<p> Travellers who have reviewed:</p>
  <% @account.each do |account| %>
    <% @natpark.travellers.each do |traveller| %>

    <%= traveller.account.username %>

    <% end %>
  <% end%>

  <p>Reviews: </p>
  <% @natpark.reviews.each do |review| %>
      <div class="reviewcontainer">
        <% @traveller_id= review.traveller_id %>
        <% @username=Account.find_by(traveller_id: @traveller_id) %>

        <p>TITLE: <%= review.title %></p>
        <p>REVIEW: <%= review.comment %></p>
        <p> Submited by: <%= @username.username %> </p>


      <% if @traveller_id==current_user[:traveller_id]%>
        <%= form_tag("/reviews/#{review.id}", method: "DELETE") do %>
          <%= submit_tag("Delete")%>
        <% end %>

        <button><%= link_to "Edit this review", edit_review_path(review.id) %></button>
      <%end%>

    </div>
    <% end %>

  <h1> Add your review! </h1>
    <%= form_tag("/reviews", method: "post", id: 'review-form') do %>
      <%= label_tag(:title ) %>
      <%= text_field_tag("review[title]") %>
      <%= label_tag(:comment) %>
      <%= text_field_tag("review[comment]") %>
      <%= hidden_field_tag("review[natpark_id]", params[:id]) %>
      <%= hidden_field_tag("review[traveller_id]", current_user.traveller_id) %>
      <%= submit_tag("Create") %>
    <% end %>
</div>
</div>
