
<div class='mainnats'>
<div class="container-2">
  <div>
    <h1><%= params[:id]%>'s</h1>
  </div>

  <div class="parktypeslist">
    <% @natparks.each do |park| %>
    <% if park["designation"] == params[:id] %>
          <h2><%= park.name%> <%= park.designation%>, <%= park.states%></h2>
          <p>Reviews: <%= park.reviews.count %> <button><a href="/natparks/<%= park.id%>">Find out more!</a></button>
          </p>


    <% end %>
    <% end %>
  </div>

</div>
</div>
