<%= @parkscall["data"][0].keys %>
<%= @parkscall["data"][0] %>
<% @parkscall["data"].each do |k,v| %>
  <% if k["designation"] == "National Park" %>
<h3><%=   k["fullName"] %><h3>
  <p>All about the park: <%= k["description"] %></p>
  <p>States:<%= k["states"] %></p>
<% end %>
<%end %>
