
<p><%= @parkscall["data"][0].keys %></p>


 <!-- <% @parkscall["data"].each do |park| %>

  <div>
      <h3><%=park["fullName"]%></h3>
      <%=park["designation"]%>

<% park.each do |contentlabel,content|%>
  <p><%= contentlabel.to_s %>: <%= content %></p>
</div>
<%end%>
<%end %> -->
<!-- <%=@parkscall["data"] %> -->

<%= @parkscall["data"][0] %> -->

<!-- <% if `park["designation"]` == "National Park" %>
<% end %>  -->
