

<h1> List of Reviews</h1>
<% @reviews.each do |review| %>
<p><%= review.natpark.name %></p>
<p><%= review.title %></p>
<p><%= review.comment%></p>
<% end %>

<%= button_to  " Go to National Parks", natparks_path, method: :get %>
<%= button_to  " Go to Travellers Page", travellers_path, method: :get %>
