<!DOCTYPE html>
<html>
  <head>
    <title>Npreview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class='topnav'>
    <%= link_to "Home", root_path, method: :get%>
    <%= link_to  "Go to Travellers Page", travellers_path, method: :get %>
    <%= link_to  "Go to Park Types", parktypes_path, method: :get %>
    <%= link_to  "Go to National Parks", natparks_path, method: :get %>
    <%= link_to "Log Out", sessions_path, method: :delete %>
</div>

      <% if flash[:error]%>
        <div class ="error">
          <%= flash[:error] %>
        </div>
      <% end%>



    <%= yield %>
  </body>
</html>
